%p#notice
  = notice

%p
  %strong
    Title
  = @list.title
%p
  %strong
    Description:
    = @list.description

.todo-wrapper
  = render @list.todo
  #form
    = render "todos/form"

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path