.login-panel.panel.panel-primary
  .panel-heading
    Edit Profile
  .panel-body
    = bootstrap_form_tag url: registration_path(:user), html: { method: :put } do |f|
      = devise_error_messages!
      = f.email_field 'user[email]', label: "Email", value: current_user.email
      %i (leave blank if you don't want to change it)
      = f.password_field 'user[password]', label: "Password(8 symbols min.)", autocomplete: "off"
      = f.password_field 'user[password_confirmation]',label: "Confirm Password",autocomplete: "off"
      %i (we need your current password to confirm your changes)
      = f.password_field 'user[current_password]',label: "Current Password", autocomplete: "off"
      = f.primary "Update"

      %h3 Cancel my account
    = link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger"