%tr
  %td{:colspan => "8"}
    - if todo.done?
      %strike
        = todo.content
    - else
      = todo.content
  %td{:colspan => "2"}
    .pull-right
      = link_to done_list_todo_path(list, todo.id), method: :patch do
        %span.glyphicon.glyphicon-ok-circle{ "aria-hidden" => "true", :title => "Done" }
      = link_to undone_list_todo_path(list, todo.id), method: :patch do
        %span.glyphicon.glyphicon-remove-circle{ "aria-hidden" => "true", :title => "Undone" }
      = link_to edit_list_todo_path(list, todo.id) do
        %span.glyphicon.glyphicon-pencil{ "aria-hidden" => "true",:title => "Edit"  }
      = link_to list_todo_path(list, todo.id), method: :delete, data: { confirm: "You are sure ?" } do
        %span.glyphicon.glyphicon-trash{ "aria-hidden" => "true",:title => "Remove"  }
