!!!
%html
  %head
    %title
      TodoListKryukov
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .col-md-8.col-md-offset-2
        #header.row
          %h1
            Simple TODO List
          %h3
            From Denys Kriukov
        .row
        = yield
        .row
          #create_list.text-center
            = link_to( new_list_path, html_options = {"class" => "btn btn-primary btn-lg", "aria-label" => "Left Align" }) do
              %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
              Add TODO list
        .row
          #copyright.text-center
            %span
              © Denys Kriukov
