!!!
%html
  %head
    %title
      TodoListKryukov
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "layouts/messages"
    .container
      .col-md-8.col-md-offset-2
        #header.row
          %h1
            Simple TODO List
          %h3
            From Denys Kriukov
        - if user_signed_in?
          = render "lists/nav"
        .row
        = yield
        .row
          #copyright.text-center
            %span
              = mail_to "denis.kryukov@aol.com","© Denys Kriukov"
